<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><check if="{{ @page_title=='' }}"><true>{{ @site_title }} | {{ @site_blurb }}</true><false>{{ @page_title }} | {{ @site_title }}</false></check></title>

<repeat group="{{ @styles }}" value="{{ @url }}">
    <link href="{{ @url }}" rel="stylesheet">
</repeat>

  </head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition sidebar-mini">
<div class="wrapper">

<include href="templates/navbar.html" />

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

<include href="templates/logo.html" />

    <!-- Sidebar -->
    <div class="sidebar">

<include href="templates/leftmenu.html" />

    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

<include href="templates/pageheader.html" />

    <!-- Main content -->
    <div class="content">

<check if="{{ @page_content=='' }}">
<true>
<include href="{{ @page_template }}" />
</true>
<false>{{ @page_content | raw }}</false>
</check>

    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<include href="templates/rightmenu.html"/>
<include href="templates/footer.html"/>

</div>
<!-- ./wrapper -->

<repeat group="{{ @scripts }}" value="{{ @url }}">
    <script src="{{ @url }}"></script>
</repeat>

</body>
</html>
