      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/datasets.html" class="nav-link">
              <i class="nav-icon fa fa-table"></i>
              <p>
                Datasets
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/exports.html" class="nav-link">
              <i class="nav-icon fa fa-sign-out"></i>
              <p>
                Exports
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/templates.html" class="nav-link">
              <i class="nav-icon fa fa-filter"></i>
              <p>
                Class Templates
              </p>
            </a>
          </li>

          <li class="nav-header">Status</li>

          <li class="nav-item">
            <a href="/schedule.html" class="nav-link">
              <i class="fa fa-calendar nav-icon"></i>
              <p>Schedule</p>
            </a>
          </li>

          <li class="nav-header">Settings</li>

          <li class="nav-item">
            <a href="/settings.html" class="nav-link">
              <i class="fa fa-edit nav-icon"></i>
              <p>Behaviour</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/paths.html" class="nav-link">
              <i class="fa fa-folder-o nav-icon"></i>
              <p>Paths</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/virtual.html" class="nav-link">
              <i class="fa fa-list nav-icon"></i>
              <p>Virtual Datasets</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/triples.html" class="nav-link">
              <i class="fa fa-database nav-icon"></i>
              <p>Raw Triples</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
